<div class="container">
  <app-cockpit
    (createServer)="onAddedServer($event)"
    (createBlueprint)="onAddedServerBlueprint($event)"
  ></app-cockpit>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <div class="buttonWrapper">
        <button
          class="btn btn-primary"
          (click)="onChangeFirst()"
          style="margin-right: 8px"
        >
          Add Changes
        </button>
        <button class="btn btn-danger" (click)="onDestroyFirst()">
          Destroy First server
        </button>
      </div>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
        [name]="serverElement.name"
      >
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p></app-server-element
      >
    </div>
  </div>
</div>
