<div class="row">
  <div class="col-xs-12">
    <h3>Add new servers or blueprints!</h3>

    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="serverName" /> -->
    <input type="text" class="form-control" #serverInput />
    <label>Server Content</label>
    <input type="text" class="form-control" #serverContentInput />
    <br />
    <button
      class="btn btn-primary"
      (click)="addServer(serverInput)"
      style="margin-right: 8px"
    >
      Add server
    </button>
    <button
      class="btn btn-primary"
      (click)="addServerBlueprint(serverContentInput)"
    >
      Add server blueprint
    </button>
  </div>
</div>
